# Xcode
.DS_Store
*.swp
*~.nib
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/*.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata

# Build
build/
DerivedData/
*.xcarchive
*.ipa

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
AudioRecorder.xcodeproj/project.pbxproj
